@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');
html {
  background: rgb(249,122,149);
  background: linear-gradient(30deg, rgba(249,122,149,1) 30%, rgba(251,230,113,1) 50%, rgba(247,15,153,1) 100%);
  min-height: 80vh;
  min-width: 80vw;
  overflow: hidden;
}

body {
  background: #ffffff;
  min-height: 88vh;
  min-width: 80vw;
  margin-left: 200px; 
  margin-top: 60px;
  margin-right: 20px; 
  margin-bottom: 20px;
  border-radius: 50px;
  overscroll-behavior: none;
}
h1 {
  font-size: 400%;
  font-family: 'Shadows Into Light';
  width: 40vw;
  text-align: center;
  position: absolute;
  top: 15%;
  left: 40%;
  color: #f70f99;
  transform: rotate(-20deg);
}
.sidebar {
  list-style: none;
  
}
a {
  text-decoration: none;
}